.video-container {
    position: relative;
    width: 60%;
    /* height: 70vh; */
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 5em;
    background-color: black;
    border: 3px solid rgba(255, 255, 255, 0.373);
    /* border: 1px solid #52525B; */
    border-radius: 40px;
    padding: 1.5em;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.video-container:hover {
    transition: 0.4s ease-in;
    backdrop-filter: blur(0px);
    /* background: linear-gradient(25.28deg,
            rgba(255, 255, 255, 0.42) 0%,
            rgba(255, 255, 255, 0.12) 100%); */
    transform: scale(1.015);
    /* margin-top: 4.5em; */
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
    border: none;
    transition: .1s ease-in;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    width: 100%;
}

.big-btn {
    /* background: pink; */
    position: absolute;
    height: 80px;
    width: 80px;
    padding: .6em;
    top: 45%;
    border-radius: 50%;
    background: black;
    border: 2px solid #fff;
    outline: none;
    z-index: 1;
    transition: .5s ease-in;
    cursor: pointer;
    display: none;
}

.big-btn:hover {
    /* background: rgb(240, 94, 94); */
    transition: .5s ease-in;
    display: block;
}

.video-container:hover .big-btn {
    display: block;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 98%;
    margin: auto;
    border-radius: 40px;
    padding: .5em;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
    /* background: pink; */
    width: 95%;
    margin: auto;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container.full-screen .big-btn {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
}

.volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
    /* margin-left: 30%; */

}

.video-container.captions .captions-btn {
    border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
    width: 50px;
}

.timeline-container {
    height: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 92%;
    margin: 1em auto;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    border-radius: 40px;
    height: 3px;
    width: 100%;
    position: relative;
    /* bottom: 2em; */
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
    border-radius: 40px;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: rgb(205, 58, 58);
    border-radius: 40px;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    /* background-color: red; */
    background-color: rgb(205, 58, 58);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
    height: 100%;
}

/* media queries */
@media (max-width: 980px) {
    .video-container {
        width: 85%;
        max-width: 1000px;
        margin-top: 5em;
        border-radius: 20px;
        padding: 1em;
        cursor: pointer;
        transition: 0.4s ease-in;
    }

    .big-btn {
        height: 65px;
        width: 65px;
    }
}

@media (max-width: 500px) {
    .video-container {
        width: 95%;
        border: none;
        border-radius: 0;
        padding: .3em;
        font-size: .8em;
    }

    .video-controls-container .controls button {
        height: 20px;
        width: 20px;
        font-size: .9rem;
    }

    .big-btn {
        display: none !important;

    }
}